html, body {
    background: #001821;
    font: 400 14px/1.42 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.wrapper-main {
    background: 
    url("../../img/background/elephant.jpg") center top no-repeat, 
    url("../../img/background/men.jpg") center bottom no-repeat;
    overflow: hidden;
    width: 100%;
}

.wrapper-inner {
    background-color: #fff;
    color: #303030;
}

.container {
    margin: 0 auto;
    max-width: 1141px;
    width: 100%;
}

.page-content {
    margin: 0 auto;
    margin-bottom: 55px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 16px 41px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

