.header {
    min-width: 950px;
}

.header__container {
    padding-top: 30px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col-align--right {
    justify-content: flex-end
}