
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1168px;
}

.pagination__display {
    font-size: 16px;
    margin-right: 23px;
    color: #000;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: -2px;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px; 
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #000;
}

.pagination__link:hover {
    background: #F5170E;
    color: #fff;
}

.container .pagination {
    margin-bottom: 172px;
}