.partners__title {
    color: #1A1B1E;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 96px;
    line-height: 1.38;  
}

.partners__list {
    display: inline-flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 1139px;
    height: 188px;
}

.partners__item {
    height: 60px;
    flex-basis: 260px;
}
