.inner-section {
  background: #f4f5f5;
  padding: 88px 0 117px;
}

.inner-section--form {
  padding: 62px 0 72px;
}

.inner-section__title {
  color: #1A1B1E;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 83px;
  line-height: 1.38;
}

.inner-section__title--form {
margin-bottom: 56px;
}