.tours {
    min-height: 549px;
    position: relative;
    margin-bottom: 128px;
}

.tours__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 52px;
    line-height: 1.3;
}

.tours__title-pic {
    vertical-align: middle;
}

.tours__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1141px;
    width: 100%;
}

.tours__item {
    min-height: 450px;
    vertical-align: middle;
    background: #fff;
    border-radius: 5px;
    max-width: 362px;
    min-width: 260px;
    width: 100%;
    color: #000;
}

.tours__item:last-child {
    margin-right: 0;
}