
.news {
    margin-bottom: 145px;
    display: flex;
    justify-content: space-between;
}

.news__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 52px;
    line-height: 1.3;
}

.news__list {
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    max-width: 1141px;
    width: 100%;
}

.news__item {
    flex: 1;
    margin-right: 3%;
    vertical-align: top;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0;
}

.single-news__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.single-news__content {
    position: absolute;
    left: 0;
    right: 0;
     bottom: 0; 
    padding: 34px 29px;
    min-height: 170px;
}

.single-news__date {
    margin-bottom: 18px;
}

.single-news__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.single-news__add {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}
