.burning-tour {
    display: flex;
    flex-direction: column;
}
.burning-tour__cover-wrap {
    height: 144px;
    width: 100%;
    margin-bottom: 0;
}

.burning-tour__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.burning-tour__information {
    padding: 35px 21px 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.burning-tour__name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 21px;
}

.burning-tour__featuers {
    display: flex;
    align-items: flex-start;
    margin-bottom: 21px;
    padding-left: 4px;
}

.burning-tour__featuers:last-child {
    margin-right: 0;
}

.burning-tour__featuer {
    display: flex;
    align-items: center;
    width: 135px;
    margin-right: 20px;
}

.burning-tour__featuer:last-child {
    margin-right: 0;
}

.burning-tour__featuer-pic {
    margin-right: 9px;
}

.burning-tour__featuer-text {
    font-size: 16px;
    color: #666;
}

.burning-tour__featuer-icon {
    display: block;

}

.burning-tour__description {
    color: #303030;
    line-height: 1.5;
    margin-bottom: 25px;
}

.burning-tour__btn .btn {
    margin-top: auto;
}
