.reviews {
  column-count: 2;
  column-gap : 30px;
  padding-top: 98px;
  margin-bottom: 48px;
}


.reviews__item {
  margin-bottom: 14px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 52px 28px 39px;
  background: #f4f5f5;
}

.review__header{
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.review__photo {
  margin-right: 22px;
}

.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.review__pic {
  width: 100%;
  height: 100%;
}

.review__userdata {
  margin-top: 5px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.review__user::after {
  content: url(../../img/icon/vk-blue.png);
  height: 30px;
  margin-left: 9px;
}

.review__place {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #333;
  padding: 9px 19px;
  border-radius: 50px;
  background: #e7e7e7;
  text-decoration-line: none;
}

.tag--bg--green {
  background: #B9EAE4;
}

.review__content-title {
  font-size: 30px;
  font-weight: bold;
  color: #202123;
  margin-bottom: 12px;
}

.review__content-text {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.7;
}

.review__date {
  font-style: 14px;
  color: #202123;
  font-weight: bold;
}