.separator {
  background:  url(../../img/separator/couple.png) right 20% bottom no-repeat, url(../../img/separator/Rectangle.png) center center no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-top: 87px;
}

.separator__content {
  max-width: 55%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}