.services {
    padding: 98px 0 84px;
}

.services__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 49px;
    margin-bottom: 65px;
}

.services__item {
    display: flex;
    justify-content: space-between;
    gap: 57px;
    
}

.services__information {
    padding-top: 10px;
}

.services__pic-box {
    height: 333px;
    width: 460px;
    border-radius: 5px;
    flex-shrink: 0;
}

.services__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.services__name {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin-bottom: 28px;
}

.services__text {
    font-size: 16px;
    color: #303030;
    margin-bottom: 34px;
    line-height: 1.7;
}

.services__pagination {
    padding-left: 33px;
}

