.socials {
    margin-right: 76px;
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: 10px;
    position: relative;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__link::after,
.socials__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    transition: opacity .3s;
    background-image: url(../../img/icon/socials-sprit.png);
}

.socials__link::after {
    opacity: 1;
}

.socials__link::before {
    opacity: 0;
}

.socials__link:hover::after {
    opacity: 0;
}

.socials__link:hover::before {
    opacity: 1;
}

.socials__item--item-tg .socials__link::after {
    background-position: -66px -10px;
}

.socials__item--item-tg .socials__link::before {
    background-position: -122px -66px;
}

.socials__item--item-vk .socials__link::after {
    background-position: -10px -10px;
}

.socials__item--item-vk .socials__link::before {
    background-position: -122px -10px;
}

.socials__item--item-fb .socials__link::after {
    background-position: -66px -66px;
}

.socials__item--item-fb .socials__link::before {
    background-position: -66px -122px;
}

.socials__item--item-inst .socials__link::after {
    background-position: -10px -66px;
}

.socials__item--item-inst .socials__link::before {
    background-position: -10px -122px;
}