.wrapper--welcome {
    background: url(../../img/background/bg.png) center top no-repeat;
    height: 100vh;
}

.wrapper__shades {
    background: url(../../img/background/shades.png) center center no-repeat;
    width: 100%;
    height: 100%;
    animation: shades 1.2s both;
}

@keyframes shades {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}

.welcome {
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: well 1s 1s both;
}


@keyframes well {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.7);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

.welcome__inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.welcome__logo {
    width: 279px;
    height: 119px;
    margin: 0;
    margin-bottom: -5px;
}

.welcome__text {
    font-size: 18px;
}

.welcome .btn {
    padding: 18px 58px;
}